<div class="progress-container">
  <div class="waveform">
    <img src="{{waveform}}" alt="waveform"/>
  </div>
  <div class="progress-bar">
    <div class="loading"></div>
    <div class="progress">
      <div class="current">0:00</div>
    </div>
  </div>
</div>
